* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Irish Grover', cursive;

}

body {
  background-image: url("../image/Design.gif");
  background-size: 84vw;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  height: 721px;

}

.bg-chateau {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.drapeau {
  filter: blur(3px);
  position: absolute;
  left: 0px;
  height: 720px;
  width: 123px;
  object-fit: cover;
  border-style: inset;
}


.drapeau1 {
  position: absolute;
  right: 0px;
  height: 720px;
  width: 123px;
  object-fit: cover;
  border-style: inset;
  filter: blur(3px);
}

.btn-g {
  clip-path: polygon(80% 4%, 47% 23%, 80% 39%);
  width: 200px;
  height: 200px;
  position: absolute;
  top: 25px;
  background: red;
  top: 14px;
  left: -37px;
  cursor: pointer;
}

.btn-g p {
  position: absolute;
  top: 32px;
  left: 113px;
}

.btn-d {
  clip-path: polygon(68% 45%, 36% 30%, 36% 68%);
  width: 200px;
  height: 200px;
  position: absolute;
  top: 25px;
  background: red;
  top: -41px;
  right: -5px;
  cursor: pointer;
}

.btn-d p {
  padding-bottom: 12px;
}

.explication {
  position: absolute;
  left: 450px;
  top: 29px;
  font-size: large;
  background: #ffe505;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  height: 300px;
  transition: 1s ease-in-out;
  pointer-events: none;

}

.petitetoile {
  width: 79px;
  margin-left: 310px;
}


.explication-active {
  opacity: 0;
  transition: 2s ease-in-out;

}

.explication p {
  margin-top: 62px;
  padding: 0 20px;
  text-align: center;
  font-size: 30px;
}

.charles {
  opacity: 0;
  transition: 2s ease-in-out;
  width: 40%;

}

.charles-center {
  text-align: center;
}

.ferrari-arriere {
  width: 97px;
  position: absolute;
  left: 300px;
  bottom: 128px;
  transform: rotate(22deg);
  z-index: 1;
}

.ferrari-arriere:focus {
  opacity: 0;
  z-index: -3;
  background-image: none;
}

.etoile-coupe-gauche {
  width: 22px;
  position: absolute;
  left: 330px;
  bottom: 142px;
  opacity: 1;
  z-index: 0;
  animation: sparkle 0.5s infinite;


}

.ferrari-arriere-active {
  display: none;
}

.etoile-coupe-gauche-active {
  top: 215px;
  opacity: 1;
  width: 30px;
  left: 30px;
  pointer-events: none;
  z-index: 2;
  animation: none;
}

.charles-active {
  opacity: 1;
  transition: 2s ease-in-out;

}

.ferrari-cote {
  width: 157px;
  position: absolute;
  left: 554px;
  bottom: 161px;
  opacity: 0;
  pointer-events: none;
  transition: 3s ease-in-out;
}

.ferrari-cote-active {
  opacity: 1;
  transition: 3s ease-in-out;
}

.etoile-entiere-1 {
  position: absolute;
  display: inline-block;
  left: 43px;
  top: 209px;
  width: 40px;
  opacity: 0;
}

.etoile-entiere-1-active {
  opacity: 1;
  animation: sparkle 2s infinite;
  width: 68px;
  position: absolute;
  left: 26px;
  top: 208px;
  z-index: 2;
}


.cadre {
  display: flex;
}

.question h1 {
  margin-bottom: 20px;
}

li {
  display: inline-block;
  border: 1px solid black;
  background-color: yellow;
  padding: 9px 20px;
  border-radius: 5px;
  margin: 0 20px;
}

.question {
  border-radius: 22px;
  text-align: center;
  padding: 30px;
  display: inline-block;
  margin: auto;
  background-color: red;
  border: 2px solid;
  opacity: 0;
  transition: 4s ease-in-out;
  pointer-events: none;
}

.question-active {
  opacity: 1;
  transition: 3s ease-in-out;
  pointer-events: all;
  z-index: 10;
}

li:hover {
  font-size: x-large;
}

#pop {
  font-size: 30px;
  padding: 20px;
}

.ferrari-devant {
  position: absolute;
  width: 341px;
  left: 211px;
  bottom: -6px;
  opacity: 0;
  transition: 3s ease-in-out;
}

.ferrari-devant-active {
  transition: 3s ease-in-out;
  opacity: 1;
}

.devinette {
  display: inline-block;
  text-align: center;
  border: 3px solid black;
  background-color: red;
  color: yellow;
  padding: 40px;
  opacity: 0;
  position: absolute;
  top: 300px;
  left: 1400px;
  pointer-events: none;
  border-radius: 74px;
  line-height: 50px;
  font-size: 1px;
  transition: 4s ease-in-out;
  z-index: 10;
}


.devinette-active {
  pointer-events: all;
  position: absolute;
  opacity: 1;
  left: 433px;
  top: 196px;
  transition: 4s ease-in-out;
  font-size: x-large;
  z-index: 11;
}

.selecteur {
  min-width: 189px;
  padding: 9px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;

}

.reponse {
  cursor: pointer;
}

.fausse {
  background-color: rgb(74, 1, 1);
  border: 3px dashed yellow;
  color: yellow;

}

.gg-question {
  background-color: rgb(150, 216, 51);
  border: 4px dashed green;
  font-size: x-large;

}

.etoile-entiere-2 {
  opacity: 0;
  display: inline-block;
  position: absolute;
  width: 68px;
  left: 32px;
  top: 321px;
}

.etoile-entiere-2-active {
  opacity: 1;
  animation: sparkle 2s infinite;
}

#popd {
  font-size: xx-large;
}

@keyframes sparkle {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#MYform button,
#ma-question-1 button,
#ma-question-2 button,
#ma-question-3 button {
  cursor: pointer;
  background-color: yellow;
  padding: 10px;
  border-radius: 10px;
}

.bonne-rep {
  color: rgb(81, 231, 81);
  font-size: xx-large;
  text-shadow: 2px 1px black;
}

.mauvaise-rep {
  color: rgb(79, 18, 18);
  text-shadow: 2px 1px black;
}

.salut {
  position: absolute;
  left: 600pX;
  background-color: whitesmoke;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 13% 100%, 50% 75%, 0% 75%);
  height: 123px;
  line-height: 22px;
  bottom: 194px;
  opacity: 0;
  display: inline-block;
  pointer-events: none;
  transition: 1s ease-in-out;
}

.salut-active {
  opacity: 1;
  transition: 1s ease-in-out;
}

.johnny-image {
  display: inline-block;
  width: 120px;
  position: absolute;
  left: 503px;
  opacity: 0;
  bottom: 3px;
  transition: 1s ease-in-out;
}

.salut p {
  padding: 10px;
}

.johnny-image-active {
  opacity: 1;
  transition: 1s ease-in-out;

}

.johnny-image-active2 {
  width: 108px;
  position: absolute;
  left: 736px;
  opacity: 1;
  bottom: 47px;
  transition: 1s ease-in-out;
}

.metroid {
  z-index: 3;
  opacity: 0;
  width: 124px;
  position: absolute;
  right: 217px;
  bottom: -28px;
  transition: 1s ease-in-out;
}

.metroid-active {
  z-index: -4;
  opacity: 1;
  width: 251px;
  position: absolute;
  right: 575px;
  bottom: 58px;
  transition: 1s ease-in-out;
}

.poulpe {
  position: absolute;
  bottom: 314px;
  right: 749px;
  padding: 10px;
  background-color: #795bae;
  opacity: 0;
  transition: 1s ease-in-out;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 100% 91%, 50% 75%, 0% 75%);
  height: 91px;
  font-size: x-large;
  font-weight: bold;
  color: #5b0101;
  text-align: center;
  pointer-events: none;
}

.poulpe-active {
  opacity: 1;
  transition: 3s ease-in-out;

}

.photo-leclerc {
  width: 1019px;
  position: absolute;
  left: 243px;
  bottom: 1px;
  opacity: 0;
  transition: 1s ease-in-out;
  pointer-events: none;
}

.photo-leclerc-active {
  opacity: 1;
  transition: 2s ease-in-out;
  background-color: black;
  padding: 66px 0;
}

.poulpe1 {
  position: absolute;
  bottom: 314px;
  right: 749px;
  padding: 10px;
  background-color: #795bae;
  opacity: 0;
  transition: 1s ease-in-out;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 100% 91%, 50% 75%, 0% 75%);
  height: 91px;
  font-size: x-large;
  font-weight: bold;
  color: #5b0101;
  text-align: center;
  pointer-events: none;

}

.poulpe1-active {
  opacity: 1;
  transition: 3s ease-in-out;
}

.display-inline-block {
  display: inline-block;
  border-radius: 15px;
  background-color: #580202;
  padding: 15px;
  line-height: 50px;
  margin: 15px;
}

.toutes-les-questions {
  text-align: center;
  z-index: 5;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 465px;
  bottom: 135px;
  opacity: 0;
  pointer-events: none;

}

.display-inline-block p {
  color: yellow;
  font-size: x-large;
}

.q1,
.q2,
.q3 {
  opacity: 0;
  pointer-events: none;
}

.q1-active {
  opacity: 1;
  pointer-events: all;
}

.q1,
.q2,
.q3 {
  opacity: 0;
  pointer-events: none;
}

.q1-active {
  opacity: 1;
  pointer-events: all;
}

.pop1 {
  opacity: 1;
}

.q1,
.q2,
.q3 {
  opacity: 0;
  pointer-events: none;
}

.q1-active {
  opacity: 1;
  pointer-events: all;
}

.pop1 {
  opacity: 1;
}